# Server Configuration
PORT=3000

# SMTP Configuration (For sending emails)
# Example for Gmail:
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# SMTP_SECURE=true
# SMTP_USER=your-email@gmail.com
# SMTP_PASS=your-app-password (Generate this in Google Account -> Security -> App Passwords)

SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=printempire.admin@gmail.com
SMTP_PASS=your_email_app_password

# Where should the emails be sent to? (Leave blank to send to SMTP_USER)
RECEIVER_EMAIL=printempire.admin@gmail.com
